{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
    
            <title>Cambiar Contraseña | Zona Privada</title>
    
        <meta content="Graphics to display information from the University of Cordoba" name="description" />
        <meta content="statistics group - University of Cordoba" name="wilmer_urango" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'dist/assets/images/propias/Imagen1.png' %}">
        
        <!-- Icons Css -->
        <link href="{% static 'dist/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'dist/assets/css/app.min.css' %}"  rel="stylesheet" type="text/css" />
        
    </head>

    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="card-body pt-0">

                                <h3 class="text-center mt-5 mb-4">
                                    <a href="#" class="d-block auth-logo">
                                        <h1>CAMBIAR CONTRASEÑA</h1>
                                       
                                    </a>
                                </h3>

                                <div class="p-3">
                                    <div class="alert alert-info" role="alert">
                                        <p>Por favor escriba la contraseña actual y la nueva contraseña</p>
                                    </div>

                                    <form method="POST" action="{% url 'account_change_password' %}" class="form-horizontal mt-4">
                                        {% csrf_token %}

                                        
                                        <div class="mb-3">
                                            <label for="username">Contraseña Actual</label>
                                            <input class="form-control" type="password" name="oldpassword" placeholder="Contraseña actual" autocomplete="current-password" required="" id="id_oldpassword">
                                        </div>

                                        <div class="mb-3">
                                            <label for="username">Nueva Contraseña</label>
                                            <input class="form-control" type="password" name="password1" placeholder="Nueva contraseña" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list">
                                        </div>

                                        <div class="mb-3">
                                            <label for="userpassword">Nueva Contraseña (Repetir) </label>
                                            <input class="form-control" type="password" name="password2" placeholder="Nueva contraseña (de nuevo)" required="" id="id_password2">
                                        </div>

                                        <div class="mb-3 row mt-4">
                                            <div class="col-6">
                                                <div class="form-check">
                                                    <!-- <input type="checkbox" class="form-check-input" id="customControlInline">
                                                    <label class="form-check-label" for="customControlInline">Remember me
                                                    </label> -->
                                                </div>
                                            </div>

                                            <div class="col-6 text-end">
                                                <button name="action" class="btn btn-primary w-md waves-effect waves-light" type="submit">Cambiar Contraseña</button>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-4">
                                                <a class="button secondaryAction text-muted" href="{% url 'account_reset_password' %}"><i class="mdi mdi-lock"></i>¿Olvidó su contraseña?</a>
                                                <!-- <a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a> -->
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <!-- <p>Don't have an account ? <a href="pages-register.html" class="text-primary"> Signup Now </a></p> -->
                            <!-- © <script>document.write(new Date().getFullYear())</script> UNICOR <span class="d-none d-sm-inline-block"></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'dist/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'dist/assets/js/app.js' %}"></script>
        <link href="{% static 'dist/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />


</html>
