{% load static %}
{% load i18n %}
{% load account %}

<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
    
            <title>Cambio de Contraseña | Zona Privada</title>
    
        <meta content="Graphics to display information from the University of Cordoba" name="description" />
        <meta content="statistics group - University of Cordoba" name="wilmer_urango" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'dist/assets/images/propias/Imagen1.png' %}">
        
        <!-- Icons Css -->
        <link href="{% static 'dist/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'dist/assets/css/app.min.css' %}"  rel="stylesheet" type="text/css" />
        
    </head>

    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card overflow-hidden">
                            <div class="card-body pt-0">

                                <h3 class="text-center mt-5 mb-4">
                                    <a href="#" class="d-block auth-logo">
                                        <h1>RESTABLECER LA CONTRASEÑA</h1>
                                        <!-- <h2>ESTADISTICAS - UNICOR</h2> -->
                                    </a>
                                </h3>

                                <div class="p-3">
                                    {% if user.is_authenticated %}
                                        <div class="alert alert-success" role="alert">
                                            {% include "account/snippets/already_logged_in.html" %}
                                        </div>
                                    {% endif %}


                                    <div class="alert alert-info" role="alert">
                                        ¡Ingrese su correo electrónico y se le enviarán las instrucciones!
                                    </div>


                                    <form method="POST" action="{% url 'account_reset_password' %}" class="form-horizontal mt-4">
                                        {% csrf_token %}

                                        <div class="mb-3">
                                            <label for="useremail">Email</label>
                                            <input type="email" name="email" class="form-control" id="id_email" placeholder="Ingresar E-mail ..." required="">
                                            
                                        </div>

                                        <div class="mb-3 row">
                                            <div class="col-12 text-end">
                                                <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Resetear</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JAVASCRIPT -->
        <script src="{% static 'dist/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'dist/assets/js/app.js' %}"></script>
        <link href="{% static 'dist/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    </body>

</html>