{% load static %}
<!doctype html>
<html lang="en">

    
        <head>

            <meta charset="utf-8" />
            {% block title %}
                <title>Estadísticas Unicor</title>
            {% endblock title %}

            <meta content="Graphics to display information from the University of Cordoba" name="description" />
            <meta content="statistics group - University of Cordoba" name="wilmer_urango" />
            <!-- App favicon -->
            <link rel="shortcut icon" href="{% static 'dist/assets/images/propias/Imagen1.png' %}">
            
    
            <!-- Icons Css -->
            <link href="{% static 'dist/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
            <!-- App Css-->
            <link href="{% static 'dist/assets/css/app.min.css' %}"  rel="stylesheet" type="text/css" />
            
            {% block head %}
            {% endblock head %}
        </head>
    
    

    <body {% block body %} data-topbar="light" data-layout="horizontal" data-layout-size="boxed"  data-keep-enlarged="true" {% endblock body %}>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <header id="page-topbar">
                {% block header %}

                <div class="navbar-header"  style="height:30px; text-align: center;" >

                    <!-- <div>
                        wilmer
                    </div> -->

                    <div class="container-fluid">
                        <div class="float-start">
                            <!-- LOGO -->
                            <div class="navbar-brand-box">
                                <a href="index.html" class="logo logo-dark">
                                    <span class="logo-sm">
                                        <img src="{% static 'dist/assets/images/logo-sm.png' %}" alt="" height="22">
                                    </span>
                                    <span class="logo-lg">
                                        <!-- <img src="{% static 'dist/assets/images/logo-dark.png' %}" alt="" height="19"> -->
                                    </span>
                                </a>
    
                                <a href="index.html" class="logo logo-light">
                                    <span class="logo-sm">
                                        <img src="{% static 'dist/assets/images/logo-sm.png' %}" alt="" height="22">
                                    </span>
                                    <span class="logo-lg">
                                        <img src="{% static 'dist/assets/images/logo-light.png' %}" alt="" height="19">
                                    </span>
                                </a>
                            </div>
    
                            <button type="button" class="btn btn-sm px-3 font-size-24 d-lg-none header-item waves-effect waves-light" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
                                <i class="mdi mdi-menu"></i>
                            </button>

                        </div>
                       
                    </div>
                </div>


                <div class="top-navigation border-top border-success" style="height: 8rem;">
                    
                    <div class="page-title-content">
                        
                        <div class="container-fluid">
                            
                            <!-- start page title -->
                            <div class="row">
                                
                                <div class="col-sm-6">
                                    
                                    <div class="page-title-box">
                                        
                                        <a href="{% url 'index' %}">
                                            <!-- <img src="{% static 'dist/assets/images/propias/logo_unicor.png' %}" alt="" height="60"> -->
                                            <h4 class="text-success">
                                                
                                                <i class="mdi mdi-spin mdi-cog"></i>
                                                ESTADÍSTICAS UNICORDOBA
                                            </h4>
                                        </a>


                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <div class="page-title-box" style="text-align:right; font-size: 0.9rem;">

                                        
                                        <span class="text-white" >Vista Actual:</span> <span id="titulo_actual" class="text-success">Pagina de Inicio</span> 
                                        
                                    
                                    </div>

                                </div>

                            </div>
                            <!-- end page title -->
                        </div>
                
                    </div>

                    <div class="container-fluid">
                        <div class="topnav">
                            <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

                                <div class="collapse navbar-collapse" id="topnav-menu-content">
                                    <ul class="navbar-nav">
                                        
                                        <!-- ESTUDIANTES -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;" class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-email" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/estudiante2.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Estudiantes

                                                
                                            </a>
                                            
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-email">
                                                <a href="#" class="dropdown-item estudiantes_preg">Pregrado</a>
                                                <a href="#" class="dropdown-item graduado">Graduados</a>
                                                <a href="#" class="dropdown-item estudiantes_post">Postgrado</a>
                                                <a href="#" class="dropdown-item tasa_graduacion">Tasa Graduación Pregrado</a>
                                            </div>
                                        </li>


                                        <!-- DOCENTES -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;" class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-forms" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/docente2.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Docentes
                                                 
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-forms">
                                                    <a href="#" class="dropdown-item docentes">Docentes</a>
                                                    <!-- <a href="#" class="dropdown-item">Variables academicas</a> -->
                                            </div>
                                        </li>

                                        
                                        <!-- INVESTIGACION Y EXTENSION -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;" class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/investigacion2.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                               Investigación  <br> Extensión
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                            <a href="#" class="dropdown-item investigacion">Investigación</a>
                                           
                                            </div>
                                        </li>


                                        <!-- BIENESTAR UNIVERSITARIO -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;"  class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/bienestar.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Bienestar <br> Institucional
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                            <a href="#" class="dropdown-item bienestar">Bienestar</a>

                                            </div>
                                        </li>


                                        <!-- RECURSOS FIANNCIEROS -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;"  class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/presupuesto.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Recursos <br> Financieros
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                            <a href="#" class="dropdown-item recurso_financiero">Recursos Financieros</a>
                                            </div>
                                        </li>


                                        <!-- ESTRUCTURA FISICA -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center; opacity: 0.4;"  class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/infraestructura.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Infraestructura  <br> Física
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                            <!-- <a href="charts-morris.html" class="dropdown-item">Morris Chart</a> -->
                                            
                                            </div>
                                        </li>

                                        
                                        <!-- GUIA -->
                                        <li class="nav-item dropdown">
                                            <a style="text-align: center;"  class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-charts" role="button"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <div>
                                                    <!-- <center> -->
                                                        <img height= 30px src="{% static 'dist/assets/images/propias/pregunta.png' %}" >
                                                    <!-- </center> -->
                                                </div>
                                                Guía
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="topnav-charts">
                                                <a href="https://docs.google.com/document/d/1NdmNFEckUOOh-LAHQuwtrmS9Airc_kRi/edit" target="_blank" class="dropdown-item">Manual de Usuario</a>
                                            </div>
                                        </li>


                                    </ul>

                                </div>

                                <div  class="m-3" >
                                    <a  class="btn btn-info" href="{% url 'zona_privada' %}">Zona Privada</a>

                                </div>
                            </nav>
                        </div>
                    </div>
                </div>

                {% endblock header %}
   
            </header>
    


            {% block sidebar %}
                
            {% endblock sidebar %}



            {% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content" >

                <div class="page-content" >
                    <div class="row" id="contenedor_global">

                        <div class="col-lg-2 ">
                           

                        </div>


                        <div class="col-lg-8" >
                            <div class="card row col-auto rounded justify-content-center" style="border-top: 50px;">
                                <center>
                                    <a href="https://www.unicordoba.edu.co/">
                                        <img height= "500rem" src="{% static 'dist/assets/images/propias/unicor_acreditada.png' %}">
                                    </a>
                                    
                                </center>
                            </div>
                        </div>


                        <div class="col-lg-2">
                            

                        </div>

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                
                

            </div>
            <!-- end main content-->
            {% endblock content %}

            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            © <script>document.write(new Date().getFullYear())</script> UNICOR <span class="d-none d-sm-inline-block"></span>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- END layout-wrapper -->



        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">

                <div class="rightbar-title d-flex align-items-center px-3 py-4">
            
                    <h5 class="m-0 me-2">Settings</h5>

                    <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                </div>

                <!-- Settings -->
                <hr class="mt-0" />
                <h6 class="text-center mb-0">Choose Layouts</h6>

                <div class="p-4">
                    <div class="mb-2">
                        <img src="{% static 'dist/assets/images/layouts/layout-1.jpg' %}" class="img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input theme-choice" id="light-mode-switch" checked />
                        <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                    </div>
    
                    <div class="mb-2">
                        <img src="{% static 'dist/assets/images/layouts/layout-2.jpg' %}" class="img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input theme-choice" id="dark-mode-switch" data-bsStyle="{% static 'dist/assets/css/bootstrap-dark.min.css' %}" data-appStyle="{% static 'dist/assets/css/app-dark.min.css' %}" />
                        <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                    </div>
    
                    <div class="mb-2">
                        <img src="{% static 'dist/assets/images/layouts/layout-3.jpg' %}" class="img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-5">
                        <input type="checkbox" class="form-check-input theme-choice" id="rtl-mode-switch" data-appStyle="{% static 'dist/assets/css/app-rtl.min.css' %}" />
                        <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                    </div>

            
                </div>

            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->



        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div> 
        
        {% block scripts %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'dist/assets/libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/jquery-sparkline/jquery.sparkline.min.js' %}"></script>

        <!--Morris Chart-->
        <script src="{% static 'dist/assets/libs/morris.js/morris.min.js' %}"></script>
        <script src="{% static 'dist/assets/libs/raphael/raphael.min.js' %}"></script>
        <script src="{% static 'dist/assets/js/pages/dashboard.init.js' %}"></script>

        <!-- App js -->
        <script src="{% static 'dist/assets/js/app.js' %}"></script>
        <link href="{% static 'dist/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />

        {% endblock scripts %}

        {% block scripts_ajax %}
        <!-- menu con streamin -->
        <script>

            $('.estudiantes_preg').on('click', function(){
                
                $.ajax({
                    url:'{% url "estudiantes_preg" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Estudiantes > Pregrado</span>');
                    // },.2000);

                });
                
            });


            $('.estudiantes_post').on('click', function(){
                
                $.ajax({
                    url:'{% url "estudiantes_post" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Estudiantes > Postgrado</span>');
                    // },.2000);

                });
                
            });


            $('.docentes').on('click', function(){
                
                $.ajax({
                    url:'{% url "docentes" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Docentes > Variables Poblacionales</span> ');
                    // },.2000);

                });
                
            });

            $('.graduado').on('click', function(){
                
                $.ajax({
                    url:'{% url "graduado" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Estudiantes > Graduados</span> ');
                    // },.2000);

                });
                
            });  


            $('.tasa_graduacion').on('click', function(){
                
                $.ajax({
                    url:'{% url "tasa_graduacion" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Estudiantes > Tasa graduación Pregrado</span> ');
                    // },.2000);

                });
                
            });

            $('.investigacion').on('click', function(){
                
                $.ajax({
                    url:'{% url "investigacion" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Investigación Extención > Investigación</span> ');
                    // },.2000);

                });
                
            });


            $('.bienestar').on('click', function(){
                
                $.ajax({
                    url:'{% url "bienestar" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Bienestar Institucional > Bienestar</span> ');
                    // },.2000);

                });
                
            });


            $('.recurso_financiero').on('click', function(){
                
                $.ajax({
                    url:'{% url "recurso_financiero" %}',
                    // beforeSend: function(){
                    // 	$("#contenedor_global").html('<center><div class="spinner-border spinner-border-sm mr-2"></div> &nbsp Cargando</center>');
                    // },
                    type:'POST',
                    data: {},
                    dataType: 'html'
                }).done(function(data){
                    // console.log(data)
                    // setTimeout(function(){
                    $("#contenedor_global").html(data);
                    $("#titulo_actual").html('<span class="text-success">Recursos Financieros > Recursos Financieros</span> ');
                    // },.2000);

                });
                
            });

        </script>
        {% endblock scripts_ajax %}
    </body>
    
</html>