<!-- contenedor de graduados -->

<!--  Inicio estilos para el scrooll de los campos -->
<style>
    .modo_scroll {
        /* margin: 2rem auto; */
        /* border: 1px solid #aaa; */
        /* height: 300px; */
        /* width:90%; */
        height: 300px;
        /* max-width: 500px; */
        /* background: #f1f2f3; */
        overflow: auto;
        /* box-sizing: border-box; */
        /* padding:0 1rem; */
    }

    .modo_scroll::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .modo_scroll::-webkit-scrollbar:vertical {
        width: 10px;
    }

    .modo_scroll::-webkit-scrollbar-button:increment,
    .modo_scroll::-webkit-scrollbar-button {
        display: none;
    }

    .modo_scroll::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .modo_scroll::-webkit-scrollbar-thumb {
        background-color: #03b120;
        border-radius: 20px;
        border: 2px solid #f3f2f1;
    }

    .modo_scroll::-webkit-scrollbar-track {
        border-radius: 10px;
    }
</style>
<!--  Fin estilos para el scrooll de los campos -->



<script>

    // Inicio descripcion de detalle de cada campo
    var conten_detalle_campos = document.getElementById("conten_detalle_campos");
    function mostrar_detalle(id) {
        switch (id) {
            case "FACULTAD":
                conten_detalle_campos.innerHTML = "Indica las Facultades Existentes en la Universidad";
                break;
            case "Programa":
                conten_detalle_campos.innerHTML = "Indica el nombre de cada programa de la Universidad";
                break;
            case "CÓDIGO SNIES":
                conten_detalle_campos.innerHTML = "Muestra el codigo de identificación del programa ante el SNIES";
                break;
            case "ACTA":
                conten_detalle_campos.innerHTML = "Número de Acta <br><br> [Nota: No disponible al público]";
                break;
            case "FECHA":
                conten_detalle_campos.innerHTML = "Indica la fecha de grado del estudiante";
                break;
            case "AÑO":
                conten_detalle_campos.innerHTML = "Indica el año de grado del estudiante";
                break;
            case "PERIODO":
                conten_detalle_campos.innerHTML = "Los periodos Acádemicos estan datos por semestre, este campo muestra el año con sus respectivos semestres";
                break;
            case "ACTAS IND":
                conten_detalle_campos.innerHTML = "";
                break;
            case "Nº DIP":
                conten_detalle_campos.innerHTML = "";
                break;
            case "Genero":
                conten_detalle_campos.innerHTML = "Genero del Estudiante";
                break;
            case "NOMBRES":
                conten_detalle_campos.innerHTML = "Nombres del Estudiante";
                break;
            case "APELLIDOS":
                conten_detalle_campos.innerHTML = "Apellidos del Estudiante";
                break;
            case "CEDULA":
                conten_detalle_campos.innerHTML = "Cedula del Estudiante <br><br> [Nota: No disponible al público]";
                break;
            case "EXPEDIDA":
                conten_detalle_campos.innerHTML = "Lugar de Expedición de la Cédula";
                break;
            case "DIRECCIÓN RESIDENCIAL":
                conten_detalle_campos.innerHTML = "Dirección en la cual reside el estudiante";
                break;
            case "TEL. RES":
                conten_detalle_campos.innerHTML = "Telefono de Residenecia del estudiante <br><br> [Nota: No disponible al público]";
                break;
            case "CELULAR":
                conten_detalle_campos.innerHTML = "Número de celular del estudiante <br><br> [Nota: No disponible al público]";
                break;
            case "E-MAIL":
                conten_detalle_campos.innerHTML = "Direccion E-mail del estudiante";
                break;
            case "TIPO":
                conten_detalle_campos.innerHTML = "Indica si el estudiante se graduo de Postgrado o Pregrado";
                break;
        }
    }
    // Fin descripcion de detalle de cada campo
</script>


<div class="col-lg-2 ">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Campos Disponibles</h4>

            <div class="modo_scroll row text-center mt-4 ">
                <div id="list-example" class="list-group">
                    <a onclick="mostrar_detalle(id)" id="FACULTAD" class="list-group-item list-group-item-action" href="#">FACULTAD</a>
                    <a onclick="mostrar_detalle(id)" id="Programa" class="list-group-item list-group-item-action" href="#">Programa</a>
                    <a onclick="mostrar_detalle(id)" id="CÓDIGO SNIES" class="list-group-item list-group-item-action" href="#">CÓDIGO SNIES</a>
                    <a onclick="mostrar_detalle(id)" id="ACTA" class="list-group-item list-group-item-action" href="#">ACTA</a>
                    <a onclick="mostrar_detalle(id)" id="FECHA" class="list-group-item list-group-item-action" href="#">FECHA</a>
                    <a onclick="mostrar_detalle(id)" id="AÑO"class="list-group-item list-group-item-action"  href="#">AÑO</a>
                    <a onclick="mostrar_detalle(id)" id="PERIODO" class="list-group-item list-group-item-action" href="#">PERIODO</a>
                    <a onclick="mostrar_detalle(id)" id="ACTAS IND" class="list-group-item list-group-item-action" href="#">ACTAS IND</a>
                    <a onclick="mostrar_detalle(id)" id="Nº DIP" class="list-group-item list-group-item-action" href="#">Nº DIP</a>
                    <a onclick="mostrar_detalle(id)" id="Genero" class="list-group-item list-group-item-action" href="#">Genero ACADEMICO</a>
                    <a onclick="mostrar_detalle(id)" id="NOMBRES" class="list-group-item list-group-item-action" href="#">NOMBRES TITULO</a>
                    <a onclick="mostrar_detalle(id)" id="APELLIDOS" class="list-group-item list-group-item-action" href="#">APELLIDOS</a>
                    <a onclick="mostrar_detalle(id)" id="CEDULA"class="list-group-item list-group-item-action"  href="#">CEDULA</a>
                    <a onclick="mostrar_detalle(id)" id="EXPEDIDA" class="list-group-item list-group-item-action" href="#">EXPEDIDA</a>
                    <a onclick="mostrar_detalle(id)" id="DIRECCIÓN RESIDENCIAL" class="list-group-item list-group-item-action" href="#">DIRECCIÓN RESIDENCIAL</a>
                    <a onclick="mostrar_detalle(id)" id="TEL. RES" class="list-group-item list-group-item-action" href="#">TEL. RES</a>
                    <a onclick="mostrar_detalle(id)" id="CELULAR" class="list-group-item list-group-item-action" href="#">CELULAR ACADEMICO</a>
                    <a onclick="mostrar_detalle(id)" id="E-MAIL" class="list-group-item list-group-item-action" href="#">E-MAIL TITULO</a>
                    <a onclick="mostrar_detalle(id)" id="TIPO" class="list-group-item list-group-item-action" href="#">TIPO</a>

                </div>

            </div>

        </div>
    </div>
</div>


<div class="col-lg-8" >
    <div class="row card rounded Responsive" style='position: relative;top: -60px;text-align:center;'>
        <div style="overflow-y: hidden; position: relative; margin: 0 auto;">
            <iframe src="https://public.tableau.com/views/EstudiantesPostgradoUnicordoba/ESTUDIANTES_POSTGRADO?:language=es-ES&:display_count=n&:origin=viz_share_link?:showVizHome=no&:embed=true" width=900px height="800px"></iframe>
        </div>
    
    </div>
</div>

<div class="col-lg-2">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-4">Detalle de Campos</h4>

            <div class="row text-center mt-4">

                <div id="conten_detalle_campos" class="list-group overflow-auto m-1"
                    style="height: 300px;text-align: justify">

                </div>

            </div>

        </div>
    </div>
</div>
